<br>
<div class="content" role="main">
    <table class="table table-active table-hover table-bordered table-striped">
        <caption>My Todos</caption>
        <thead class="thead-dark">
            <tr>
                <th>DESCRIPTION</th>
                <th>TARGET DATE</th>
                <th>COMPLETED?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date}}</td> <!-- | -> pipe -> converts one formar into another-->
                <td>{{todo.done}}</td>

            </tr>
        </tbody>
    </table>
    <!-- <h4><a routerLink="/" class="badge badge-pill badge-danger">Logout</a></h4> -->
</div>